<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${titulo}"></title>
</head>
<body>

	<h1>ESTO ES UN TÍTULO</h1>
	<form th:action="@{/web/form}" th:object="${usuario}" method="post">
		<div>
			<label for="identificador">Identificador: </label> <input 
				id="identificador" type="text" th:field="*{identificador}"/> <span
				th:if="${#fields.hasErrors('identificador')}"
				th:errors="*{identificador}"></span>
		</div>
		<div>
			<label for="username">Username: </label> <input 
				id="username" type="text" th:field="*{username}"/> <span
				th:if="${#fields.hasErrors('username')}"
				th:errors="*{username}"></span>
		</div>
		<div>
			<label for="password">Password: </label> <input 
				id="password" type="password" th:field="*{password}" /> <span
				th:if="${#fields.hasErrors('password')}"
				th:errors="*{password}"></span>
		</div>
		<div>
			<label for="password_2">Repeat password: </label> <input
				name="password_2" id="password_2" type="password" />
		</div>
		<div>
			<label for="email">Email: </label> <input name="email" 
				type="email" th:field="*{email}" /> <span
				th:if="${#fields.hasErrors('email')}"
				th:errors="*{email}"></span>
		</div>
		<div>
			<input name="boton_enviar" id="boton_enviar" type="submit"
				value="Enviar" />
		</div>
	</form>
</body>
</html>